body{
    margin: auto;
    text-align: center;
}
h1{
    font-size: 90px;
    color: steelblue;
}
p{
    font-size: 50px;
    color: rgb(133, 80, 133);
}
#number{
    font-size: 50px;
    width: 15%;
    text-align: center;
    color: seagreen;
}
.btn{
    font-size: 50px;
    border: 2px black solid;
    background-color: white;
}
#result{
    font-size: 60px;
    color: saddlebrown;
}