body{
    margin: auto;
    text-align: center;
}
h1{
    font-size: 90px;
    color: steelblue
}
p{
    font-size: 50px;
    color: rgb(173, 153, 72);
}
#btn{
    font-size: 50px;
    background-color: white;
    cursor: pointer;
    border: 2px black solid;
}
#result{
    font-size: 50px;
    color: sienna;
}