// Main Body
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
// Page One
.page-one{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Asset/main-bcg.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
// Head Section
.header-prime{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 61%;
    margin: 0 auto;
    padding-top: 25px;
}
.left-side{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    ul{
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a{
        margin-right: 50px;
        text-decoration: none;
        font-weight: 400;
        color: #102a42bf;
        font-size: 20px;
        transition: 0.5s;
        &:hover{
            color: #BA5D2C;
            transition: 0.5s;
        }
    }
    h1{
        font-family: 'Courgette', cursive;
        font-size: 45px;
        margin: 0;
        padding: 0;
        color: #102A42;
    }
}
.right-side{
    position: relative;
    button{
        background-color: transparent;
        border: none;
        color: #102A42;
        font-size: 25px;
        padding: 0;
        margin: 0;
        padding-right: 20px;
    }
    span{
        position: absolute;
        top: -15px;
        right: 5px;
        background-color: #BA5D2C;
        color: white;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        font-weight: bold;
        text-align: center;
        display: inline-grid;
        align-content: center;
    }
}
// Mid Heading Section
.mid-head-section{
    background-color: #F1F5F8;
    div{
        width: 61%;
        align-items: center;
        margin: 0 auto;
        margin-top: 15px;
        display: flex;
        text-align: left;
        justify-content: left;
        height: 190px;
        h1{
            font-size: 25px;
            font-weight: 500;
            letter-spacing: 2px;
            color: #617D98;
        }
    }
}
.main-paragraph{
        width: 40%;
        align-items: center;
        margin: 0 auto;
        margin-top: 15px;
        display: flex;
        text-align: left;
        justify-content: left;
        p{
        color: rgb(24 68 109 / 72%);
        margin: 0;
        line-height: 2;
        font-size: 15px;
        margin-bottom: 85px;
    }
}
.main-p-top{
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 600;
    span{
        color: #BA5D2C;
    }
    h1{
        font-size: 38px;
        letter-spacing: 2px;
        font-weight: 500;
        padding-left: 15px;
        color: #102A42;
    }
}