body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.pointEventOnOff {
  pointer-events: none;
}

.page-one {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Asset/main-bcg.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.header-prime {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 61%;
  margin: 0 auto;
  padding-top: 25px;
}

.left-side {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}
.left-side ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.left-side a {
  margin-right: 45px;
  text-decoration: none;
  font-weight: 300;
  color: white;
  font-size: 17px;
  transition: 0.5s;
}
.left-side a:hover {
  color: #BA5D2C;
  transition: 0.5s;
}
.left-side h1 {
  font-family: "Courgette", cursive;
  font-size: 45px;
  margin: 0;
  padding: 0;
  color: white;
}

.right-side {
  position: relative;
}
.right-side button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  padding: 0;
  margin: 0;
}
.right-side span {
  position: absolute;
  top: -20px;
  right: -15px;
  background-color: #BA5D2C;
  color: white;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  display: inline-grid;
  align-content: center;
}

.body-section {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.body-prime {
  width: 61%;
}
.body-prime h1 {
  font-family: "Courgette", cursive;
  color: white;
  font-size: 90px;
  letter-spacing: 5px;
  margin: 0;
}
.body-prime h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: white;
  margin: 0;
}
.body-prime button {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  font-size: 17px;
  font-weight: 300;
  padding: 0.5rem 0.75rem;
  border: 1px white solid;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-top: 20px;
  transition: 0.5s;
}
.body-prime button:hover {
  background-color: white;
  transition: 0.5s;
}
.body-prime button:hover a {
  color: #BA5D2C;
  transition: 0.5s;
}
.body-prime button a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.cart-section {
  font-family: "Poppins", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.cart-section h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 40px;
}
.cart-section h1 span {
  font-size: 26px;
  margin-right: 20px;
  color: #BA5D2C;
  font-weight: bold;
}

.product-section {
  display: flex;
}
.product-section img {
  height: 220px;
  width: 380px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-btn-section {
  height: 220px;
  width: 380px;
  position: relative;
  transition: 0.5s;
}
.image-btn-section:hover {
  transition: 0.5s;
}
.image-btn-section:hover .img-btns {
  opacity: 1;
  transition: 0.5s;
}

.img-btns {
  position: absolute;
  top: 45%;
  left: 37%;
  display: block;
  opacity: 0;
  transition: 0.5s;
}
.img-btns div {
  background-color: #BA5D2C;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  display: inline-grid;
  align-content: center;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.5s;
}

.img-btns-one:hover {
  background-color: #d7713a;
  transition: 0.5s;
}

.img-btns-two:hover {
  background-color: #d7713a;
  transition: 0.5s;
}

.product-section-prime {
  padding: 0 8px;
}

.product-footer p {
  margin: 0;
  text-transform: capitalize;
  color: rgba(78, 101, 115, 0.9098039216);
  letter-spacing: 1px;
  padding-top: 10px;
}
.product-footer h4 {
  margin: 0;
  color: rgba(14, 36, 49, 0.91);
  font-weight: 500;
}

.footer-button {
  background-color: #BA5D2C;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 20px;
  margin: 40px 0;
  border: none;
  padding: 7px 25px;
  transition: 0.5s;
}
.footer-button:hover {
  background-color: rgba(186, 93, 44, 0.8196078431);
  transition: 0.5s;
}
.footer-button:hover a {
  color: black;
  transition: 0.5s;
}
.footer-button a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  transition: 0.5s;
}

.cart-show {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cart-show-prime {
  margin: 0px 0px 0px auto;
  width: 370px;
  height: 100%;
  padding: 15px;
  background-color: #F1F5F8;
}

.cart-section-close {
  background-color: #F1F5F8;
  border: none;
  font-size: 30px;
  margin: 0;
  padding: 0;
  color: #0056a9;
  cursor: pointer;
}

.class-section-head {
  font-family: "Courgette", cursive;
  font-size: 30px;
  color: black;
  text-align: center;
}

.cart-show-item {
  min-height: 680px;
}

.cart-show-item-prime {
  padding: 0;
}

.total {
  font-family: "Courgette", cursive;
  font-size: 30px;
  color: black;
  margin: 25px 0px;
  text-align: center;
}

.checkout-btn {
  margin: 0px auto;
}

.checkout-main {
  display: block;
  margin: 0 auto;
  width: 250px;
  border: none;
  background-color: #ba5d2c;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  border-radius: 0.25rem;
  padding: 5px;
  transition: 1s;
}
.checkout-main:hover {
  background-color: #da8252;
  transition: 1s;
}

/* Cart Show items */
.cart-show-items-prime {
  padding-left: 10px;
}

.li-cart-show-items-prime {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  align-items: center;
  padding: 0;
}

.cart-h-p-r {
  font-weight: 300;
}

.cart-foot-price {
  font-size: 13px;
}

.cart-button {
  border: 0px;
  background-color: #F1F5F8;
  margin: 0;
  padding: 0;
  color: chocolate;
  cursor: pointer;
}

.cart-img {
  width: 120px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem;
}

.cart-inc-des {
  width: 30px;
  text-align: center;
}

.increase-cart {
  color: chocolate;
  cursor: pointer;
}

.decrease-cart {
  color: chocolate;
  cursor: pointer;
}/*# sourceMappingURL=home.css.map */